<div class="row linkrow" style="margin-top:25px;">
  <a href="/collections/permanent-fabric-collection/basic-fabric">Basic Fabric</a>
  <a href="/collections/permanent-fabric-collection/Black-Grey-Fabric">Black &amp; Grey Fabric</a>
  <a href="/collections/permanent-fabric-collection/Blue-Fabric">Blue Fabric</a>
  <a href="/collections/permanent-fabric-collection/Brown-Fabric">Brown Fabric</a>
  <a href="/collections/permanent-fabric-collection/Buffalo-Bills-Fabric">Buffalo Bills Fabric</a>
  <a href="/collections/permanent-fabric-collection/Buffalo-NY-Fabric">Buffalo NY Fabric</a>
  <a href="/collections/permanent-fabric-collection/Buffalo-Sabres-Fabric">Buffalo Sabres Fabric</a>
  <a href="/collections/permanent-fabric-collection/Green-Fabric">Green Fabric</a>
  <a href="/collections/permanent-fabric-collection/Grunge-Fabric">Grunge Fabric</a>
  <a href="/collections/permanent-fabric-collection/Kimberbell">Kimberbell Fabric</a>
  <a href="/collections/permanent-fabric-collection/Orange-Yellow-Fabric">Orange &amp; Yellow Fabric</a>
  <a href="/collections/permanent-fabric-collection/Purple-Fabric">Purple Fabric</a>
  <a href="/collections/permanent-fabric-collection/Red-Pink-Fabric">Red &amp; Pink Fabric</a>
  <a href="/collections/permanent-fabric-collection/Solid-Color-Fabric">Solid Color Fabric</a>
</div>