<div class="w-row">
  <div class="w-col w-col-4">
    <a href="/collections/pre-loved-machines" class="goto w-inline-block">
      <img class="icons" src="https://uploads-ssl.webflow.com/616b41a03e3b48136b64f0ec/6255c74ce5e1113438d7ecb8_badge.png">
      <div class="row">
        <h4 class="heading-3">Trade-In Machines</h4>
        <div>Looking for a deal?</div>
      </div>
      <div class="aro-r"></div>
    </a>
  </div>
  <div class="w-col w-col-4">
    <a href="/collections/beginner-sewing-machines" class="goto w-inline-block">
      <img class="icons" src="https://uploads-ssl.webflow.com/616b41a03e3b48136b64f0ec/625082cce66fe20a4bbc8d33_sewing-machine.png">
      <div class="row">
        <h4 class="heading-3">
          Beginner Sewing Machines<strong><br /></strong>
        </h4>
        <div>A great place to start!</div>
      </div>
      <div class="aro-r"></div>
    </a>
  </div>
  <div class="w-col w-col-4">
    <a href="/pages/march-april-class-calendar" class="goto w-inline-block">
      <img class="icons" src="https://uploads-ssl.webflow.com/616b41a03e3b48136b64f0ec/62550c44c6f4ffeec8b4d2d3_calendar.png">
      <div class="row">
        <h4 class="heading-3">Upcoming Classes</h4>
        <div>Start a new project today!</div>
      </div>
      <div class="aro-r"></div>
    </a>
  </div>
</div>