<style type="text/css">

    .sect-welcome a,
    .sect-welcome span a {
      color: #006675 !important;
    } 
    .sect-welcome img {
    	margin: auto;
      display: inline !important;
    }
    
</style>

<div class="header header-mrn wf-section">
    <div class="ctr w-container">
        <h1 class="bot25">
            <span class="h1-xl">Welcome</span><br />Rochester Sewing Community!
        </h1>
        <a href="/" class="btn btn-f w-button">Shop Aurora Sewing Center</a>
    </div>
</div>

<div class="sect sect-welcome" style="padding-bottom:25px;">
  <div class="w-container">
	{{ page.content }}
  </div>
</div>

<div class="sect sect-dealer wf-section" style="padding-top:25px;">
    <div class="wide ctr w-container">
        <h2 class="bot50" style="font-weight:bold">We're a Proud Dealer Of</h2>
        <div class="row bot75">
            <a href="/collections/bernina" class="go-logo w-inline-block">
                <img
                    src="https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b18cf435e495a6070_Bernina_logo.png"
                    loading="lazy"
                    srcset="
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b18cf435e495a6070_Bernina_logo-p-500.png   500w,
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b18cf435e495a6070_Bernina_logo-p-800.png   800w,
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b18cf435e495a6070_Bernina_logo-p-1080.png 1080w,
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b18cf435e495a6070_Bernina_logo.png        1095w
                    "
                    sizes="160px"
                    alt=""
                    class="logo-page"
                />
            </a>
            <a href="/collections/baby-lock" class="go-logo w-inline-block">
                <img
                    src="https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7be9dd741a38df108c_logo.png"
                    loading="lazy"
                    srcset="https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7be9dd741a38df108c_logo-p-500.png 500w, https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7be9dd741a38df108c_logo.png 791w"
                    sizes="160px"
                    alt=""
                    class="logo-page"
                />
            </a>
            <a href="/collections/bernette" class="go-logo w-inline-block">
                <img
                    src="https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7be9dd74b979df108a_NicePng_sewing-stitches-png_3682468.jpg"
                    loading="lazy"
                    srcset="
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7be9dd74b979df108a_NicePng_sewing-stitches-png_3682468-p-500.jpg 500w,
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7be9dd74b979df108a_NicePng_sewing-stitches-png_3682468.jpg       525w
                    "
                    sizes="160px"
                    alt=""
                    class="logo-page"
                />
            </a>
            <a href="/collections/juki" class="go-logo w-inline-block">
                <img src="https://assets.website-files.com/616b41a03e3b48136b64f0ec/62758c9c29d63180a218220d_Screen%20Shot%202022-05-06%20at%205.01.13%20PM.png" loading="lazy" alt="" class="logo-page" />
            </a>
            <a href="/collections/accuquilt" class="go-logo w-inline-block">
                <img
                    src="https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b0f67c870c58a5279_accuquiltlogo.png"
                    loading="lazy"
                    srcset="
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b0f67c870c58a5279_accuquiltlogo-p-500.png 500w,
                        https://assets.website-files.com/616b41a03e3b48136b64f0ec/6329fa7b0f67c870c58a5279_accuquiltlogo.png       948w
                    "
                    sizes="160px"
                    alt=""
                    class="logo-page"
                />
            </a>
        </div>
        <h3 class="bot25" style="font-weight:bold">Plus SEW much more!</h3>
        <a href="/" class="btn w-button"><strong>Shop Aurora Sewing Center</strong></a>
    </div>
</div>



{% include 'sect-cta' %}