<style type="text/css">
    a {
      color: #006675;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {});
</script>


<div class="header">
    <div class="wide w-container">
		<h1>{{ page.title }}</h1>
  </div>
</div>

<div class="sect" style="padding-top: 25px">
    <div class="wide w-container">
        <div class="container">
            <div class="w-row paddingLarge" style="padding: 20px 0px 20px 0px;">
                <div class="col w-col w-col-6">

                        <div class="panel-heading">
                            <h2 class="panel-title">East Aurora, NY</h2>
                        </div>
                        <div class="bot25 panel-body">
                            <address>
                                <strong>Street Address</strong><br />
                                <span>659 Main St. </span><br />
                                <span>East Aurora, NY 14052</span><br />
                                <abbr title="Phone">P:</abbr>
                                <span>
                                    (716) 652-2811<br />
                                    Email: <a href="mailto:info@aurorasewingcenter.com">info@aurorasewingcenter.com</a>
                                </span>
                            </address>
                        </div>

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h3 class="panel-title">Business Hours</h3>
                        </div>
                        <!-- Table -->
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Mon - Fri</th>
                                    <td>10am to 5:30pm</td>
                                </tr>
                                <tr>
                                    <th scope="row">Saturday</th>
                                    <td><span>9am to 3pm </span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Sunday</th>
                                    <td>CLOSED</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col w-col w-col-6">
                    <iframe
                        style="border: 0;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2928.9826491884896!2d-78.61244378436486!3d42.76757221726093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d3a62cc31e9c59%3A0x5590666b8dabbfb!2s659+Main+St%2C+East+Aurora%2C+NY+14052!5e0!3m2!1sen!2sus!4v1502817650481"
                        allowfullscreen="allowfullscreen"
                        width="100%"
                        height="450"
                        frameborder="0"
                    ></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="w-row paddingLarge" style="padding: 20px 0px 20px 0px;">
                <div class="col w-col w-col-6">
                    <div class="bot25 panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Williamsville, NY</h2>
                        </div>
                        <div class="panel-body">
                            <address>
                                <strong>Street Address</strong><br />
                                <span>8575 Main St. </span><br />
                                <span>Williamsville, NY 14221</span><br />
                                <abbr title="Phone">P:</abbr>
                                <span>
                                    (716) 204-8350<br />
                                    Email: <a href="mailto:info@aurorasewingcenter.com">info@aurorasewingcenter.com</a>
                                </span>
                            </address>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Business Hours</h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Mon - Fri</th>
                                    <td><span>10am to 5:30pm </span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Saturday</th>
                                    <td><span>9am to 3pm </span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Sunday</th>
                                    <td>CLOSED</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col w-col w-col-6">
                    <iframe
                        style="border: 0;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2919.650080049656!2d-78.67554168436003!3d42.9645779047022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d3759c07992301%3A0x48ed68890607cec5!2s8575+Main+St%2C+Williamsville%2C+NY+14221!5e0!3m2!1sen!2sus!4v1502817752907"
                        allowfullscreen="allowfullscreen"
                        width="100%"
                        height="450"
                        frameborder="0"
                    ></iframe>
                </div>
            </div>
        </div>

      
        <div class="container">
            <div class="w-row paddingLarge" style="padding: 20px 0px 20px 0px;">
                <div class="col w-col w-col-6">
                    <div class="bot25 panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Victor, NY</h2>
                        </div>
                        <div class="panel-body bot25">
                            <address>
                                <strong>Street Address</strong><br />
                                <span>11 Framark Dr. </span><br />
                                <span>Victor, NY 14564</span><br />
                                <abbr title="Phone">P:</abbr>
                                <span>
                                    (585) 742-2680<br />
                                    Email: <a href="mailto:info@aurorasewingcenter.com">info@aurorasewingcenter.com</a>
                                </span>
                            </address>
                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">Business Hours</h3>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Mon - Fri</th>
                                    <td><span>10am to 5:30pm </span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Saturday</th>
                                    <td><span>9am to 3pm </span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Sunday</th>
                                    <td>CLOSED</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col w-col w-col-6">
                    <iframe width='100%' height='450px' id='mapcanvas' src='https://maps.google.com/maps?q=11%20framark%20dr%20victor%20ny&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class="zxos8_gm"><a href="https://simonly.deals">SIM Only</a></div><div style='overflow:hidden;'><div id='gmap_canvas' style='height:100%;width:100%;'></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>
                </div>
            </div>
        </div>

        <div class="container">
          <div class="col-md-8 col-sm-7">
            <strong>Joining us from out of town? Take advantage of our discounted hotel rates!<br>Click on the hotel name to access the booking page.</strong>
          </div>
          <div class="col-md-8 col-sm-7">
              <table style="width: 66.4794%;">
                  <tbody>
                      <tr style="height: 22px;">
                          <td style="height: 22px; width: 22%;">Northtowns</td>
                          <td style="height: 22px; width: 38.9459%;"><a href="https://secure3.hilton.com/en_US/ht/reservation/book.htm?execution=e1s1">Home2 Suites - Amherst</a></td>
                      </tr>
                      <tr style="height: 18.1875px;">
                          <td style="height: 18.1875px; width: 22%;">Southtowns</td>
                          <td style="height: 18.1875px; width: 38.9459%;"><a href="https://secure3.hilton.com/en_US/hp/reservation/book.htm?execution=e2s1" target="_blank" rel="noopener noreferrer">Hampton Inn - East Aurora</a></td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
    </div>
</div>
