<style type="text/css">

  .sect-page span, 
  .sect-page a,
  .sect-page span a {
    color: #006675 !important;
  } 
  .sect-page img {
      margin: auto;
  }
  
</style>

<div class="header">
  <div class="wide w-container">
	<h1 data-ix="loadfade">{{ page.title }}</h1>
  </div>
</div>

<div class="sect sect-page">
  <div class="wide w-container">
	{{ page.content }}
  </div>
</div>

        
{% if page.metafields.custom.products %}

<div class="sect-collec">
  <div class="wide w-container">
    <h2 class="bot25">Featured Promotions</h2>
    <ul class="ul-cllc">
    {% assign recommended_products =  page.metafields.custom.products.value %}
	{% for product in recommended_products %}
      {% include 'li-item' %}
    {% endfor %}
    </ul>
  </div>
</div>
  
{% endif %}

{% include 'sect-cta' %}